# =============== #
# Unity generated #
# =============== #
Temp/
Library/
*.meta
Assets/Standard Assets/utility/*
Assets/Standard Assets/physicsmaterials/*
Assets/Standard Assets/crossplatforminput/*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


Builds/*
settings.cfg
assets/procore/*
assets/images/*
assets/sounds/*